# Python virtual environment
venv/
.env/
.envrc/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
local_settings.py
db.sqlite3
media/

# VS Code settings (optional)
.vscode/

# OS files
.DS_Store
Thumbs.db
